@model AzureSearchPoc.Models.SearchData
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <title>Typeahead</title>
    <link href="https://code.jquery.com/ui/1.12.1/themes/start/jquery-ui.css"
            rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="~/css/hotels.css" />
</head>

<body>
    <h1 class="sampleTitle">
        <img src="~/images/azure-logo.png" width="80" />
        Hotels Search
    </h1>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        // Display the search text box, with the search icon to the right of it.
        <div class="searchBoxForm">
            @Html.TextBoxFor(m => m.searchText, new { @class = "searchBox", @id = "azuresuggesthighlights" }) <input class="searchBoxSubmit" type="submit" value="">
        </div>
        @*Simple autocomplete
            <script>
                $("#azureautosuggest").autocomplete({
                    source: "/Home/Suggest?highlights=false&fuzzy=true",
                    minLength: 2,
                    position: {
                        my: "left top",
                        at: "left-23 bottom+10"
                    }
                });
            </script>*@
        <script>
            var updateTextbox = function (event, ui) {
                var result = ui.item.value.replace(/<\/?[^>]+(>|$)/g, "");
                $("#azuresuggesthighlights").val(result);
                return false;
            };

            $("#azuresuggesthighlights").autocomplete({
                html: true,
                source: "/home/suggest?highlights=true&fuzzy=false&",
                minLength: 2,
                position: {
                    my: "left top",
                    at: "left-23 bottom+10"
                },
                select: updateTextbox,
                focus: updateTextbox
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.label + "</a>")
                    .appendTo(ul);
            };
        </script>
        <script>
            $("#azureautocompletebasic").autocomplete({
                source: "/Home/Autocomplete",
                minLength: 2,
                position: {
                    my: "left top",
                    at: "left-23 bottom+10"
                }
            });
        </script>

        @if (Model != null)
        {
            // Show the result count.
            <p class="sampleText">
                @Html.DisplayFor(m => m.resultList.Count) Results
            </p>

            @for (var i = 0; i < Model.resultList.Results.Count; i++)
            {
                // Display the hotel name and description.
                @Html.TextAreaFor(m => Model.resultList.Results[i].Document.HotelName, new { @class = "box1" })
                @Html.TextArea($"desc{i}", Model.resultList.Results[i].Document.Description, new { @class = "box2" })
            }
        }
    }

    @if (Model != null && Model.pageCount > 1)
    {
        // If there is more than one page of results, show the paging buttons.
        <table>
            <tr>
                <td>
                    @if (Model.currentPage > 0)
                    {
                        <p class="pageButton">
                            @Html.ActionLink("|<", "Page", "Home", new { paging = "0" }, null)
                        </p>
                    }
                    else
                    {
                        <p class="pageButtonDisabled">|&lt;</p>
                    }
                </td>

                <td>
                    @if (Model.currentPage > 0)
                    {
                        <p class="pageButton">
                            @Html.ActionLink("<", "Page", "Home", new { paging = "prev" }, null)
                        </p>
                    }
                    else
                    {
                        <p class="pageButtonDisabled">&lt;</p>
                    }
                </td>

                @for (var pn = Model.leftMostPage; pn < Model.leftMostPage + Model.pageRange; pn++)
                {
                    <td>
                        @if (Model.currentPage == pn)
                        {
                            // Convert displayed page numbers to 1-based and not 0-based.
                            <p class="pageSelected">@(pn + 1)</p>
                        }
                        else
                        {
                            <p class="pageButton">
                                @Html.ActionLink((pn + 1).ToString(), "Page", "Home", new { paging = @pn }, null)
                            </p>
                        }
                    </td>
                }

                <td>
                    @if (Model.currentPage < Model.pageCount - 1)
                    {
                        <p class="pageButton">
                            @Html.ActionLink(">", "Page", "Home", new { paging = "next" }, null)
                        </p>
                    }
                    else
                    {
                        <p class="pageButtonDisabled">&gt;</p>
                    }
                </td>

                <td>
                    @if (Model.currentPage < Model.pageCount - 1)
                    {
                        <p class="pageButton">
                            @Html.ActionLink(">|", "Page", "Home", new { paging = Model.pageCount - 1 }, null)
                        </p>
                    }
                    else
                    {
                        <p class="pageButtonDisabled">&gt;|</p>
                    }
                </td>
            </tr>
        </table>
    }
</body>
